<nb-card accent="primary">
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 mb-2">
        <label class="form-label">Fecha inicial:</label>
        <input
          nbInput
          [nbDatepicker]="startDateTimePicker"
          [formControl]="startDate"
          class="custom-date-picker"
          fullWidth
          [status]="'primary'"
          readonly
        />
        <nb-datepicker #startDateTimePicker></nb-datepicker>
      </div>
      <div class="col-md-4">
        <label class="form-label">Fecha final:</label>
        <input
          nbInput
          [nbDatepicker]="endDateTimePicker"
          [formControl]="endDate"
          class="custom-date-picker"
          fullWidth
          [status]="'primary'"
          readonly
        />
        <nb-datepicker #endDateTimePicker></nb-datepicker>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="errorMessage">
    <span class="text-danger">{{ errorMessage }}</span>
  </nb-card-footer>
</nb-card>
